// you must include each plugins' css
// paths prefixed with ~ signify node_modules
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

.calendar {
  margin: 50px 0px;
}

.fc-title {
  color: white;
}

.fc-day-grid-event {
  cursor: pointer;
}
